.background1
{
    background-repeat: no-repeat;
    
    background-image: url("https://image.noelshack.com/fichiers/2020/52/2/1608674527-terrain-de-combat3.jpg") /* si background charge pas essayer avec ça : https://image.noelshack.com/fichiers/2020/52/2/1608674527-terrain-de-combat3.jpg*/
    
}
.scribwhite
{
    color: white;
}
.viePersonnage {
    padding-top: 1%;
    opacity: 0.7;
}

.guerrier
{
    margin: 350px 0px 0px 100px;
    width: 170px;
	height: 170px;
}
.pretresse
{
    margin: 0px 100px 100px 0px;
    width: 170px;
	height: 170px;
}
.assassin
{
    margin: 50px 0px 0px 0px;
    width: 170px;
	height: 170px;
}
.alchimiste
{
        /*haut droite bas gauche*/
    margin: 220px 0px 0px 100px;
    width: 190px;
	height: 190px;
}
.boss1
{
    margin: 150px 0px 0px 100px;
    width: 300px;
	height: 300px;
    transform:scaleX(-1);
    cursor: help;
}
.boss2
{
    margin: 300px 0px 0px 100px;
    width: 300px;
	height: 300px;
    transform:scaleX(-1);
    cursor: help;
}
.boss3
{
    margin: 0px 0px 100px 100px;
    width: 300px;
	height: 300px;
    transform:scaleX(-1);
    cursor: help;
}

.infobulle 
{
    position: relative;
}
.infobulle-fafnir 
{
    position: absolute;
    bottom: 850px;
    left: 1100px;
    width: 200px;
    color: #ffffff;
    padding: 5px;
    font-size: 20px;
    border: 1px solid #000000;
    opacity: 0.75;
}    

.infobulle-lucia 
{
    position: absolute;
    bottom: 700px;
    left: 1450px;
    width: 200px;
    color: #ffffff;
    padding: 5px;
    font-size: 20px;
    border: 1px solid #000000;
    opacity: 0.75;
}  

.infobulle-ghisarma 
{
    position: absolute;
    bottom: 400px;
    left: 1100px;
    width: 200px;
    color: #ffffff;
    padding: 5px;
    font-size: 20px;
    border: 1px solid #000000;
    opacity: 0.75;
}  